
  
  /*Layout*/

  // body p {
  //   color: #514e47;
  // }
  // body a {
  //   text-decoration: none;
  //   color: #514e47;
  // }
  // body h1,
  // body h2,
  // body h3,
  // body h4,
  // body h5 {
  //   color: #25231f;
  // }
  // #page-content {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   align-items: flex-start;
  // }
  // #page-content .spacer {
  //   background-color: #fff5e3;
  //   height: 100%;
  //   flex: 1;
  //   width: 20%;
  // }
  // #page-content #main-page {
  //   flex: 3;
  //   width: 80%;
  //   background-color: #fff5e3;
  // }

  /* Navigation */
  #nav_spacer {
    height: 2em;
    // background-color: #fff5e3;
    z-index: 0;
    position:sticky;

  }
  #NavBar-id {
    z-index: 10;
    background-color: #fff5e3b3;
    justify-content: right;
    align-items: center;
    width: 100%;
    padding: 20px;
    font-size: 14pt;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    align-items: center!important;
    font-family: Gill Sans,Gill Sans MT,Calibri,'Trebuchet MS',sans-serif !important;
    height: 25px;

  }


  #NavBar-id ul li {
    cursor: pointer;
    display: inline-block !important; 
    margin: 0 10px !important; 
    list-style: none !important;
    position: relative;
    
    /* Line under navigation */
  }
  #NavBar-id ul li a {
    color: #ffa500;
    // font-weight: var(--bs-body-font-weight)!important;
    // line-height: var(--bs-body-line-height)!important;
  }
  #NavBar-id ul li a:hover {
    color: #ffa500 !important;
  }
  #NavBar-id ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #ffa500;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
  }
  #NavBar-id ul li:hover::after {
    width: 100%;
  }
  /* Deborah Djon Logo */
  #logo {
    z-index: 20;
    position: fixed;
    top: 10px;
    left: 10px;
  }
  #logo svg {
    height: 5em;
    cursor: pointer;
  }
  #logo svg path {
    height: 4em;
    cursor: pointer;
    stroke: #ffa500;
    stroke-width: 10px;
    stroke-linecap: round;
    fill: none;
    stroke-linejoin: "round";
  }
  #logo:hover svg path {
    stroke: #514e47;
  }