@use  "../../styles/custom.scss" as *; 
  @use  "../../styles/variables.scss" as *; 

/* Navigation desktop */

#navigation-desktop{

  nav {
    z-index: 10;
    background-color: #fff5e3b3;
    justify-content: right;
    align-items: center;
    width: 100%;
    padding: 20px;
    font-size: 14pt;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    align-items: center!important;
    font-family: Gill Sans,Gill Sans MT,Calibri,'Trebuchet MS',sans-serif !important;
    height: 25px;

    ul li {
      cursor: pointer;
      // display: inline-block !important; 
      margin: 0 10px !important; 
      list-style: none !important;
      position: relative;
      
      /* Line under navigation */
      a {
        color: #ffa500;
        // font-weight: var(--bs-body-font-weight)!important;
        // line-height: var(--bs-body-line-height)!important;
        &::hover {
          color: #ffa500 !important;
        }
        &::after {
          content: '';
          height: 3px;
          width: 0;
          background: #ffa500;
          position: absolute;
          left: 0;
          bottom: -5px;
          transition: 0.5s;
        }
  
        &::hover::after {
          width: 100%;
        }
  
      }



    }

  }

  
  /* Deborah Djon Logo */
  #logo {
    z-index: 20;
    position: fixed;
    top: 10px;
    left: 10px;
  }
  #logo svg {
    height: 5em;
    cursor: pointer;
  }
  #logo svg path {
    height: 4em;
    cursor: pointer;
    stroke: #ffa500;
    stroke-width: 10px;
    stroke-linecap: round;
    fill: none;
    stroke-linejoin: "round";
  }
  #logo:hover svg path {
    stroke: #514e47;
  }


}



//Mobile Navigation Credit: https://codepen.io/sorinbotirla/pen/QyoYgx


#navigation-mobile{
  position: absolute;
  display: flex;
  // flex-direction: column;
  // align-content: center !important;
  $nav-dist-left: calc(100% - 50px);
  $nav-dist-top: 50px;
  width: 100vw;
  // height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;

  nav {
    background: rgba(255, 255, 255, 0.95);

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;

    top: initial;
    left: initial;
    padding: 0;
    -webkit-clip-path: circle(24px at $nav-dist-left $nav-dist-top);
    clip-path: circle(24px at $nav-dist-left $nav-dist-top);
    -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
    transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
      &:hover {
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        -webkit-transition-duration: 0.75s;
        transition-duration: 0.75s;
        $nav-radius: 60vh;
        -webkit-clip-path: circle(calc($nav-radius*2 )at calc($nav-dist-left ) calc($nav-dist-top ));
        clip-path: circle(calc($nav-radius*2 )at calc($nav-dist-left ) calc($nav-dist-top));
      }
    a {
      width: 100%;
      display: block;
      line-height: 50px;
      padding: 0 20px;
      color: inherit;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &:hover { 
        background:  #ffd0788f; 
        // color: $color-accent-dark ;
      }
    }
  }

  
  // nav:hover {
  //   -webkit-transition-timing-function: ease-out;
  //   transition-timing-function: ease-out;
  //   -webkit-transition-duration: 0.75s;
  //   transition-duration: 0.75s;
  //   -webkit-clip-path: circle(390px at 225px 24px);
  //   clip-path: circle(390px at 150px 24px);
  // }
  
  // .navicon:hover {
  //   -webkit-transition-timing-function: ease-out;
  //   transition-timing-function: ease-out;
  //   -webkit-transition-duration: 0.75s;
  //   transition-duration: 0.75s;
  //   -webkit-clip-path: circle(390px at 225px 24px);
  //   clip-path: circle(390px at 150px 24px);
  // }
  
    
  .navicon {
    $nav-icon-width: 20px;
    // width: $nav-icon-width;
    // height: $nav-icon-width;
    top: calc($nav-dist-top - $nav-icon-width/2);
    left: calc($nav-dist-left - $nav-icon-width/2);
    padding: 0;
    margin: 0;
    z-index: 10;
    position: fixed;

    // cursor: pointer;
    // -webkit-transform-origin: 32px 24px;
    // -ms-transform-origin: 32px 24px;
    // transform-origin: 32px 24px;
    div{
      $navicon-elem-offset: 7px;
      position: relative;
      width: $nav-icon-width;
      height: 2px;
      background: rgba(0, 0, 0, 0.87);
      top:$navicon-elem-offset ;

      &:before, &:after{
        width: $nav-icon-width;
        height: 2px;
        background: rgba(0, 0, 0, 0.87);
        display: block;
        content: "";
        position: absolute;
      }
      &:before{
        top: - $navicon-elem-offset;
      }
      &:after{
        top:$navicon-elem-offset;
      }
    }
    
  }

}

@media all and (min-width: calc($mobileBreakpoint + 1px)) {
  #navigation-mobile {
      display: none !important; // Hide mobile navigation on tablets and desktops
  }

  #navigation-desktop {
      display: initial !important; // Show tablet and desktop navigation
  }
}

@media all and (max-width: $mobileBreakpoint) {
  #navigation-mobile {
      display: initial !important; // Show mobile navigation on small screens (e.g., mobile devices)
  }

  #navigation-deskto {
      display: none !important; // Hide tablet and desktop navigation on small screens
  }
}