body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  }

nav breadcrumb-container{
  display:  none !important;
}

$color-accent-main:  var(--secondary);
$color-accent-light:  var(--tertiary);
$color-accent-dark:  var(--darkgray);
$color-background: var(--light);



/*Variables*/
.fill1 {
  fill: var(--secondary);
}
.fill2 {
  fill: var(--tertiary);
}
.fill3 {
  fill: var(--darkgray);
}
.fillbg {
  fill: var(--light);
}
.stroke1 {
  stroke: var(--secondary);
}
.stroke2 {
  stroke: var(--tertiary);
}
.stroke3 {
  stroke: var(--darkgray);
}
.strokebg {
  stroke: var(--light);
}
#skills {
  /*Recoloring the framework logos*/
  .item-container {
    padding: 20px;
    display: flex;
    justify-content: end;
  }

  .tb-single {
    color: var(--dark);
    font-size: 25pt;
    text-align: center;
  }

  .item-container .item {
    width: 8em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    svg {
      max-width: 8em;
      min-width: 5em;
      max-height: 8em;
    }
    .tb-desc {
      min-height: 50px;
      font-size: 15pt;
    }
  }

}

/*Layout*/
body {
  height: 100vh;
  margin: 0;
  // background-color: var(--light);
  z-index: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  p {
    color: var(--darkgray);
  }
  a {
    text-decoration: none;
    color: var(--darkgray);
  }
  .h1 {
    font-size: 30pt;

  }

  .h2 {
    font-size: 25pt;
    line-height: 0%;
    margin-top: 50px;

  }

  .h3 {
    font-size: 20pt;
    line-height: 0%;
    font-weight: lighter;
  }
  .h4 {
    font-size: 15pt;
    line-height: 0%;
    font-weight: lighter;
  }
}

.center-text{
  text-align: center;
}

// #page-content {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: flex-start;
//   .spacer {
//     background-color: var(--light);
//     height: 100%;
//     flex: 1;
//     width: 20%;
//   }
//   #main-page {
//     flex: 3;
//     width: 80%;
//     background-color: var(--light);
//   }
// }

// /* Navigation */
// .nav_spacer {
//   height: 50px;

//   background-color: var(--light);
//   /* background-color: #dd9614; */
// }
// nav {
//   z-index: 10;
//   background-color: var(--light)b3;
//   justify-content: right;
//   align-items: center;
//   width: 100%;
//   padding: 20px;
//   font-size: 14pt;
//   display: flex;
//   position: fixed;
//   top: 0;
//   right: 0;
//   align-items: center!important;
//   font-family: Gill Sans,Gill Sans MT,Calibri,'Trebuchet MS',sans-serif !important;
//   height: 25px;

  
// }
// nav ul li {
//   cursor: pointer;
//   display: inline-block;
//   margin: 0 10px;
//   color: var(--secondary);
//   list-style: none;
//   position: relative;
//   /* Line under navigation */
// }
// nav ul li a {
//   color: var(--secondary);
// }
// nav ul li::after {
//   content: '';
//   height: 3px;
//   width: 0;
//   background: var(--secondary);
//   position: absolute;
//   left: 0;
//   bottom: -5px;
//   transition: 0.5s;
// }
// nav ul li:hover::after {
//   width: 100%;
// }
// /* Deborah Djon Logo */
// #logo {
//   z-index: 20;
//   position: fixed;
//   top: 10px;
//   left: 10px;
// }
// #logo svg {
//   height: 5em;
//   cursor: pointer;
// }
// #logo svg path {
//   height: 4em;
//   cursor: pointer;
//   stroke: var(--secondary);
//   stroke-width: 10px;
//   stroke-linecap: round;
//   fill: none;
//   stroke-linejoin: "round";
// }
// #logo:hover svg path {
//   stroke: var(--dark);
// }
/* -- Home Page --*/
/* Face */
#face-svg-container {
  top: 0;
  left: 0;
  text-align: center;
  background-color: transparent; // var(--light);
  height: 300pt;
  margin-bottom: -15px;
  padding: 0;
}

.animate-line {
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  animation-name: dash;
  animation-duration: 6s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1;
  }
  10% {
    stroke-dashoffset: 1;
  }
  40% {
    stroke-dashoffset: 0.8;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
/* Sections */
#introduction {
  display: flex;
  flex-direction: column;
}
#greeting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding-right:10px;
  margin-top: -100px;
  .h1{
    margin-bottom: 15px;
    padding-bottom: 5px;
  }
}

#intro_caption {
  font-size: 20pt;
  text-align: center;
  margin-top: 20pt;
}
#description {
  text-align: justify;
}
.text-accent {
  color: var(--secondary);
}
.info-box {
  border-radius: 25px;
  border-style: solid;
  border-color: var(--secondary);
  border-width: 4px;
  border-inline-color: var(--secondary);
  padding: 5px 10px 5px 10px;
  margin-top: 0;
  margin-bottom: 10px;
  background-color: transparent; // var(--light);
  font-size: 12pt;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.info-box .info-box-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card-body{
 display:flex !important;
 flex-direction: row;
}

.card-text, .card-body img{
  width: 45%;
  border-radius: 10px;
  margin: 0px 20px;
  padding: 0;
  font-weight: lighter;
  text-align: justify;
  p{
  margin: 0;
  }
}

// .info-box .info-box-content .card {
//   margin: 1%;
//   overflow: hidden;
//   border-width: 4px;
//   border-color: var(--secondary);
//   border-radius: 10px;
//   width: 250px;
//   height: 20em;
//   background-color: transparent; // var(--light);
// }
// .info-box .info-box-content .card:hover,
// .info-box .info-box-content .card a {
//   border-color: var(--dark);
// }
// .info-box .info-box-content .card img {
//   object-fit: cover;
//   height: 40%;
//   width: 400px;
//   align-self: center;
// }


.more-info-link {
  text-align: right;
  padding: 3%;
  a {
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
    color: var(--secondary) !important;
    list-style: none;
    position: relative;
    /* Line under navigation */
    &::after {
      content: '';
      height: 3px;
      width: 0;
      background: var(--secondary);

      position: absolute;
      left: 0;
      bottom: -5px;
      transition: 0.5s;
    }
    &:hover::after {
      width: 100%;
      color: var(--secondary) !important;

    }
  }
}

#skills .item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#skills .item-container .item {
  padding: 10px;
}
#skills .item-container .item img {
  width: 8em;
  stroke: var(--secondary);
  fill: var(--secondary);
}
/* CV Page */
#pdf-viewer {
  height: 100vh;
  width: 100vw;
}

#experience{
  overflow: scroll;
}
.map-pin{
  fill: var(--gray);
  position: relative;
}

.map-pin:hover{
  fill:var(--secondary);
}

.map-popover{
  position: 'absolute';
  z-index: 10;
  width: 10em;
  height: 10em; 
  /* border: 2px solid orange; */
  border-radius: 10px;
  background-color: var(--gray);
  padding: 1em;
  margin:0;
  display:none;
}

.map-popover h2,.map-popover p{
  margin:0;
}
.info-card{
  display: flex;
  width: 600px;
  justify-content: row;
  text-align: left;
}

/*<div id="nav_spacer">Test</div>*/
